{% load static %}


<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Snake Library</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                {% if request.user.is_authenticated %}

                    <li>
                        <a class="nav-link active lead" aria-current="page" href="{% url 'user_reservation' %}">Mes
                            réservations
                        </a>
                    </li>

                    {% if request.user.is_superuser %}
                        <li>
                            <a class="nav-link active lead" aria-current="page" href="{% url 'admin:index' %}">Panel
                                admin</a>
                        </li>
                        <li>
                            <a class="nav-link active lead" aria-current="page"
                               href="{% url 'user_profile' %}">Mon profil</a>
                        </li>
                        <li>
                            <a class="nav-link active lead" aria-current="page"
                               href="{% url 'logout' %}">Déconnexion</a>
                        </li>

                    {% elif request.user.is_customer %}

                        <li>
                            <a class="nav-link active lead" aria-current="page"
                               href="{% url 'user_profile' %}">Profil</a>
                        </li>
                        <li>
                            <a class="nav-link active lead" aria-current="page"
                               href="{% url 'logout' %}">Déconnexion</a>
                        </li>

                    {% elif request.user.is_bookseller %}

                        <li class="nav-item">
                            <a class="nav-link lead" href="{% url 'book_add' %}">Ajouter un livre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" href="{% url 'dashboard' %}">Ma librairie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" href="#">Gestion des emprunts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" href="#">Retard de livres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link lead" href="#">Groupes de lecture</a>
                        </li>
                        <li>
                            <a class="nav-link active lead" aria-current="page" href="{% url 'user_profile' %}">Mon
                                profil</a>
                        </li>
                        <li>
                            <a class="nav-link active lead" aria-current="page"
                               href="{% url 'logout' %}">Déconnexion</a>
                        </li>

                    {% endif %}

                {% else %}

                    <div class="d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'customer_signup' %}">Inscription client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'bookseller_signup' %}">Inscription vendeur</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                        </li>
                    </div>

                {% endif %}
            </ul>

        </div>
    </div>
</nav>
