{% extends 'base.html' %}
{% block content %}

    <div class="container mt-3">
        {% for reservation in reservations %}
            <div class="card">
                <div class="card-body">
                    Emprunteur: {{ reservation.user.first_name }} {{ reservation.user.last_name }}<br>
                    Date de rendu : {{ reservation.limit_date|date:"d/m/Y" }}<br>
                    Livre : {{ reservation.book_library.book.title }}
                </div>
                {% if reservation.status == False %}
                    <a href="{% url 'dashboard_loan_update' reservation.id %}" class="btn btn-primary">Rendre</a>
                {% else %}
                    <div class="card-body">

                        <p>Statut : Livre déjà rendu</p>
                    </div>

                {% endif %}
            </div>
        {% endfor %}
        {% if reservations|length == 0 %}
            <div class="card">
                <div class="card-body">
                    Aucune réservation en cours
                </div>
            </div>
        {% endif %}
    </div>


{% endblock content %}
