{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}

    <div class="container mt-3">

        <div class="row">
            <div class="jumbotron">
                <h2> Bienvenue, {{ user_profile.username }} </h2>
                <p>Vous êtes connecté en tant que {{ user_profile.role }} </p>
                <p>Adresse mail : {{ user_profile.email }}</p>
                <p>Numéro de téléphone : {{ user_profile.phone_number }}</p>
            </div>
        </div>
    </div>
{% endblock content %}